@page "/not-found"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@layout MainLayout

<PageTitle>@L["NotFound.PageTitle"]</PageTitle>

<h3>@L["NotFound.Heading"]</h3>
<p>@L["NotFound.Message"]</p>
